<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    {% for c in classrooms %}
    <tr>
        <td>{{c.id}}</td>
        <td>{{c.username}}</td>
        <td>{{c.email}}</td>
        <td><a href="{{path('classroom_delete',{'id':c.id})}}">Delete</a></td>
        <td><a href="{{path('classroom_update',{'id':c.id})}}">Update</a></td>

    </tr>
    {%endfor %}
</table>